body {
  font-family: Vazir;
}
.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.wrapper-small {
  width: 700px;
  margin: 0 auto;
}
.space-bottom {
  margin-bottom: 50px;
}
.box-panel {
  padding: 40px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 0 1rem 0 #000;
}
.dastnevis {
  font-family: Dastnevis;
  font-weight: bold;
}
.rtl {
  direction: rtl;
  text-align: right;
}
.ltr {
  direction: ltr;
  text-align: left;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.panel-items {
  display: flex;
}

.space {
  padding: 1.5rem 0;
}
.center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.small-font {
  font-size: 12px;
  font-weight: 300;
  border-top: 1px solid #999999;
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.active {
  color: orangered;
  font-weight: bold;
}
.title-items {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

.title-article {
  font-size: 1rem;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}

/**********************/
.slide-enter-to {
  opacity: 0;
  transform: translateY(-100);
}

.slide-leave-active {
  opacity: 0;
  transition: all 0.5s ease;
}
.slide-enter-active {
  transition: all 0.5s ease;
}

/*********************/
.fade-enter {
  opacity: 0;
}
/* .fade-enter-to{} */

.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s ease;
}

/* .slide-leave{} */

.fade-leave-to {
  opacity: 0;
}
