body{
    font-family: Vazir;
}
.wrapper{
    width: 1200px;
    margin : 0 auto;
}
.wrapper-small{
    width: 600px;
    margin : 0 auto;
}
.space-bottom{
    margin-bottom: 50px;
}
.box-panel{
    padding: 40px;
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 0 1rem 0 #000;
}
.dastnevis {
    font-family: Dastnevis;
    font-weight: bold;
}
.rtl{
    direction: rtl;
    text-align: right;
}
.ltr{
    direction: ltr;
    text-align: left;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.panel-items{
    display: flex;
}

.space{
    padding: 50px 0;
}
.center{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}