.footer {
  background-color: #ffffff;
  padding: 4rem 2rem 1rem 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 450px) {
    padding-top: 4rem;
  }

  &__icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 1rem;
    cursor: pointer;
  }
}

.end-intro {
  &__title {
    font-weight: bold;
    font-size: 20px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
    text-align: right;
    @media (max-width: 650px) {
      width: 100%;
      padding: 1rem;
    }
  }

  &__foot {
    font-size: 12px;
    direction: ltr;
    text-align: left;
  }
}


.items {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    width: calc(25% - 1rem);
    flex: 0 0 auto;
    margin: 0.5rem;
  }
  &__ratio {
    padding-top: 100%;
    position: relative;
  }
}

.end-intro {
  &__text {
    width: 50%;
    padding: 1rem;
    @media (max-width : 992px) {
      width: 80%;
    }
  }
}
.small-font {
  padding: 1rem 1rem 0 1rem;
  @media (max-width: 450px) {
    padding: 1rem 1rem 0 1rem;
  }
}
.wrapper{
  @media (max-width : 1200px) {
    width : 100%;
  }
}

